@import '../../../public/styles/index.scss';

.main {
    padding: 1rem;
    overflow-y: auto;
}

.dateParent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.25rem;
}

.formParent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.4rem;
}

.input {
    padding: 0.7rem 0.8rem;
    border-radius: 1.25rem;
    border: none;
    flex: 1;
    background-color: $white;
    border: 1px solid $white;
    outline: none;

    &:focus {
        border: 1px solid $carnation;
    }
}

.addBtn {
    background-color: $carnation;
    border-radius: 50%;
    border: none;
    width: 2.4rem;
    height: 2.4rem;
    color: $white;
    cursor: pointer;
    font-size: 1.4rem;

    &:disabled {
        opacity: 0.6;
    }
}

.taskParent {
    margin-top: 1rem;
    position: relative;
    cursor: pointer;
}

.task {
    overflow-wrap: break-word;
    min-height: 3.75rem;
    max-height: 3.75rem;
    height: 3.75rem;
    background-color: $white;
    border-radius: 0.75rem;
    margin-top: 0.75rem;
}

.content {
    display: flex;
    height: 100%;
    gap: 0.5rem;
    align-items: center;
    position: relative;
    padding: 0.65rem 0rem 0.65rem 0.65rem;

    & p {
        font-size: 0.8125rem;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 0.65rem;
        box-sizing: border-box;
    }
}

.actions {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 100%;
    width: 2.1875rem;
    border-radius: 0px 12px 12px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0.3rem 0.3rem;
    align-items: center;
}

.icon {
    background-color: $white;
    border-radius: 50%;
    border: none;
    width: 1.3rem;
    height: 1.3rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-size: 1rem;
    border: solid 1px $white;
    transition: all 0.6s;

    &:hover {
        border: solid 1px $carnation;
        transition: all 0.6s;
    }
}

.noTaskText {
    font-size: 0.8125rem;
    text-align: center;
}

.tasksNumber {
    font-size: 0.9375rem;
}

.radio {
    -webkit-appearance: initial;
    appearance: initial;
    width: 0.9375rem;
    height: 0.9375rem;
    border: solid 1px $carnation;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &:checked::after {
        content: "\25CF";
        color: $carnation;
        font-size: 1.125rem;
    }
}